<%- include("partials/header"); -%>
<main class="container" style="min-height: 100vh;">
<h1 style="padding-top: 15px;">Compose Review</h1>

<form class="" action="/submitreview" method="post">
  <div style="padding-bottom: 10px;" class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="reviewTitle">
    <label>Post</label>
    <textarea class="form-control" name="reviewBody" rows="5" cols="30"></textarea>
    <label>Website link</label>
    <input class="form-control" type="text" name="reviewLink">
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>
</main>
<%- include("partials/footer"); -%>