<%- include("partials/header"); -%>
      <main class="container">
        <div class="front">
          <div class="banner p-4 p-md-5 mb-4 rounded bg-gradient">
          <div class="col-md-6 px-0">
            <h1 class="display-4">Video Gallery</h1>
            <p class="lead my-3">Videos of my travels and van maintenance.</p>
          </div>
        </div>
        </div>
 
            
                    
        <div class="container">
          <div class="row gy-4">
            <div class="col">
              <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/QI5YQgyiAzE" allowfullscreen></iframe>
            </div>
            <div class="col">
              <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/4dfvK--kMdc"  allowfullscreen></iframe>            
            </div>
            <div class="col">
              <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/ywdm4UGlGKk" allowfullscreen></iframe>
            </div>
            <div class="col">
              <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/ESJ0zzhGPWM" allowfullscreen></iframe>
            </div>
          </div>
        </div>
                    
                   
                    
         
                   
                      
                     
                    
                    
                      
                    
                 
        
    </main>
    <%- include("partials/footer"); -%>